@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row mt-2">

    <div class="col-md-6">
        <!--Iterate To display search results-->
        <!-- Basic card -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">IT Support</h5>

            </div>

            <div class="card-body">
                <div class="card-subtitle mb-2 text-muted">Unique Geeks Technologies (Pty) Ltd</div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <i class="icon-location3 mr-2"></i><span class="mr-2">Venda</span>
                <i class="icon-watch2 mr-2"></i><span class="mr-2">Full Time</span>
                <i class="icon-wallet mr-2"></i><span class="mr-2">Contract</span>
                <i class="icon-calendar mr-2"></i><span class="mr-2">2020-02-14</span>
                <div class="row">
                    <!--Remove this section to JobSeekers. Its for admin and Recruiter-->
                    <div class="col-sm mt-2">
                        <a asp-action="RecruiterAppliedJobsDetails" asp-controller="JobAdvert" asp-route-id="1" class="btn btn-success auto">View</a>
                    </div>

                    <div class="col-sm mt-2">
                        <a asp-action="Edit" asp-controller="JobAdvert" asp-route-id="1" class="btn btn-primary auto">Edit</a>
                    </div>

                    <div class="col-sm mt-2">
                        <a asp-action="JobSeekerJobDetails" asp-controller="JobAdvert" asp-route-id="1"class="btn btn-danger auto">Delete</a>
                    </div>
                </div>

            </div>
        </div>
        <!-- /basic card -->
    </div>

</div> <!--Job Advert Card Container-->