@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row mt-2">

    <div class="col-md-6">
        <!--Iterate To display search results-->
        <!-- Basic card -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">IT Support</h5>

            </div>

            <div class="card-body">
                <div class="card-subtitle mb-2 text-muted">Unique Geeks Technologies (Pty) Ltd</div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <span class="font-weight-bold">Location:</span><span class="mr-2">Venda</span>
                <span class="font-weight-bold">Work Type:</span><span class="mr-2">Full Time</span>
                <span class="font-weight-bold">Statue:</span><span class="mr-3">Contract</span>
                <a href="#" class="card-link">View</a>
                <a href="#" class="card-link">Edit</a>
                <a href="#" class="card-link">Delete</a>
            </div>
        </div>
        <!-- /basic card -->
    </div>

</div> <!--Job Advert Card Container-->