
@{
    ViewData["Title"] = "AdminRecruiterAppliedJobDetails";
    Layout = "~/Views/Shared/_AdminRecruiterLayout.cshtml";
}

<!-- Introduction -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Personal Details</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">

        <p class="font-weight-bold">Mr Ndamulelo Muthaphuli</p>
        <p>Male - Black</p>
        <div class="row">
            <div class="col-sm-auto">
                <i class="icon-mail5 mr-2"></i> <span>muthali@outlook.com</span>
            </div>

            <div class="col-sm-auto">
                <i class="icon-phone mr-2"></i> <span>0723478886</span>
            </div>

            <div class="col-sm-auto">
                <i class="icon-location3 mr-2"></i> <span>Vanderbijlapprk</span>
            </div>

        </div>

        <p class="mt-2">
            dsbhjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
            kbukkkkkkkkkkk
            ukbbbbbbbbbbbbbbbbbbbbbbbb
            bkuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuj
            kbjjjjjjbkjhkkk
        </p>

    </div>
</div>
<!-- /Introduction-->
<!-- Experience -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Work Experience</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div>
            <p class="font-weight-bold">Software Developer</p>
            <p>2017-02 - 2020-01</p>
            <p>Unique Geeks Technologies</p>
            <p>Finance</p>
        </div>

    </div>
</div>
<!-- /Experience-->
<!-- Education -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Education</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div>
            <p class="font-weight-bold">Wits University</p>
            <p>2018</p>
            <p>BSC IT</p>
            <p>Degree</p>
        </div>

    </div>
</div>
<!-- /Education-->
<!-- Skills -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Skills</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">

        <h6 class="font-weight-bold">
            Expert</h5>
            <p>Angular</p>
            <h6 class="font-weight-bold">
                Good</h5>
                <p>Java</p>
                <h6 class="font-weight-bold">
                    Medium</h5>
                    <p>C#</p>
    </div>
</div>
<!-- /Skills-->
<!-- Language -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Skills</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">

        <h6 class="font-weight-bold">
            Expert</h5>
            <p>Venda</p>
            <h6 class="font-weight-bold">
                Good</h5>
                <p>Tsonga</p>
                <h6 class="font-weight-bold">
                    Medium</h5>
                    <p>Zulu</p>
    </div>
</div>
<!-- /Language-->
<!-- Attachements -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Attachements</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">

        <h6 class="font-weight-bold">
            CV</h5>
            <p>Link to view/download</p>
            <h6 class="font-weight-bold">
                Academic Record</h5>
                <p>Link to view/download</p>
                <h6 class="font-weight-bold">
                    Medium</h5>
                    <p>Link to view/download</p>
    </div>
</div>
<!-- /Attachments-->
