
@{
    ViewData["Title"] = "Job Advert Details";
    Layout = "~/Views/Shared/_JobSeekerLayout.cshtml";
}

<!-- Card for main heading with Apply Now Button -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Senior Software Developer</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5 class="title text-muted">Unique Geeks Technologies (Pty) Ltd</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-auto">
                <i class="icon-location3 mr-2"></i> <span>Joburg</span>
            </div>

            <div class="col-sm-auto">
                <i class="icon-wallet mr-2"></i> <span>Permanent</span>
            </div>

            <div class="col-sm-auto">
                <i class="icon-watch2 mr-2"></i> <span>Full Time</span>
            </div>

            <div class="col-sm-auto">
                <i class="icon-calendar mr-2"></i> <span>Published: 2020-02-13</span>
            </div>
        </div>

        <form action="#">
            <div class="form-row">
                <input type="hidden" name="CompanyId">
                <input type="hidden" name="JobSeekerId">
                <input type="hidden" name="RecruiterId">
                <input type="hidden" name="JobAdvertId">
                <div class="col-sm-4 mt-3">
                    <button type="submit" class="btn btn-success form-control">Apply Now</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /Card for main heading with Apply Now Button-->
<!-- Introduction -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Introduction</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <p class="card-text">
            Itec SA is looking for a Desktop/Server Support that
            will be responsible with providing the organisation
            with end user and server support.
        </p>
    </div>
</div>
<!-- /Introduction-->
<!-- Duties -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Duties & Responsibilities</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <ul>
            <li>for a Desktop/Server</li>
        </ul>
    </div>
</div>
<!-- /Duties-->
<!-- Desired Experience & Qualification -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Desired Experience & Qualification</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <h9 class="title fw-bold">
            Experience</h5>
            <ul class="fw-normal">
                <li>for a Desktop/Server</li>
            </ul>

            <h9 class="title fw-bold">
                Qualifications</h5>
                <ul class="fw-normal">
                    <li>Diploma</li>
                </ul>

                <h9 class="title fw-bold">
                    Remuneration & Package</h5>
                    <ul class="fw-normal">
                        <li>Diploma</li>
                    </ul>
    </div>
</div>
<!-- /Desired Experience & Qualification-->
<!-- Remuneration & Package -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Remuneration & Package</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">

        <p>R30 000 to R50 000</p>
    </div>
</div>
<!-- /Remuneration & Package-->
